// Contains all styles related to navigation

@media screen and (min-width: 34em) {
  #navbar {
    left: 1.5em;
    top: 2.5em;
    position: fixed;
  }
}

@media screen and (max-width: 34em) {
  #navbar {
    left: 0.5em;
    top: 0.5em;
    position: fixed;
  }
}

.navtab {
  background-color: transparent;
  color: $medium;
  font-size: .5em;
  font-family: roboto;
  font-weight: bold;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0em .4em 0em .4em;
  text-transform: uppercase;
  width: fit-content;
}

.navtab.active {
  color: black;
  font-size: .5em;
  font-weight: bold;
}

.navtab:hover {
  color: black;
}
