body {
  margin: 0em;
  padding: 0em;
  z-index: 0;
  font-family: Alegreya Sans;
}

@media screen and (min-width: 25em) and (max-width: 75em) {
  body {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (1200 - 400) );
  }
}

@media screen and (min-width: 75em) {
  body {
    font-size: 24px
  }
}

@media screen and (min-height: 34em) {
  #base {
    height: 480vh;
  }
}

@media screen and (max-height: 34em) {
  #base {
    height: 2610px;
  }
}
