#home-title {
  font-size: 8em;
  display: flex;
  font-family: Rubik Mono One;
  color: white;
  margin: 0em;
  font-weight: normal;
}

#home-subtitle {
  display: flex;
  // font-family: roboto;
  font-size: .85em;
  font-style: italic;
  margin-top: 0em;
  font-weight: normal;
  color: $medium;
}

#home {
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(rgb(84, 84, 84) 90%, white);
  margin-top: 0;
}
